---
layout: default
---




<div class="top-posts">
	<div class="container-xl">
		<div class="row">
			<div class="col-xl-8 col-lg-8">
				{% assign post = site.posts.first %}
				<div class="big-item">
					<a href="{{ post.url }}">
						<div class="big-item-img">
							<img src='/uploads/{{ post.date|date:"%Y" }}/{{ post.date|date:"%m" }}/{{ post.thumb }}'>
						</div>
						<div class="big-item-title">
							<h3>{% if post.header %}{{ post.header | escape }}{% else %}{{ post.title | escape }}{% endif %}</h3>
							<time datetime='{{ post.date|date:"%d.%m.%Y" }}' class="item-published"><i class="fa fa-calendar" aria-hidden="true"></i> {{ post.date|date:"%d.%m.%Y" }}</time>
						</div>
					</a>	
				</div>
				
			</div>
			<div class="col-xl-4 col-lg-4">
				<div class="row">
					<div class="col-sm-12 mini-one">
						{% assign post = site.posts[1] %}
						<div class="mini-item">
							<a href="{{ post.url }}">
								<div class="mini-item-img">
									<img src='/uploads/{{ post.date|date:"%Y" }}/{{ post.date|date:"%m" }}/{{ post.thumb }}'>
								</div>
								<div class="mini-item-title">
									<h3>{% if post.header %}{{ post.header | escape }}{% else %}{{ post.title | escape }}{% endif %}</h3>
								</div>
							</a>
						</div>
						
					</div>
				</div>
				<div class="row">
					<div class="col-sm-12 mini-two">
						{% assign post = site.posts[2] %}
						<div class="mini-item">
							<a href="{{ post.url }}">
								<div class="mini-item-img">
									<img src='/uploads/{{ post.date|date:"%Y" }}/{{ post.date|date:"%m" }}/{{ post.thumb }}'>
								</div>
								<div class="mini-item-title">
									<h3>{% if post.header %}{{ post.header | escape }}{% else %}{{ post.title | escape }}{% endif %}</h3>
								</div>
							</a>	
						</div>

					</div>
				</div>
			</div>
		</div>
	</div>
</div>


<div class="container-xl main-page">
     <div class="row">
        <div class="col-sm-12 topmargin">
		<div>
			<h2><strong>ПОСЛЕДНИЕ</strong> НОВОСТИ</h2>
		</div>
		<div class="row">
				
			{% for post in site.posts offset:3 limit:4 %} 
				<div class="col-xl-3 col-lg-3 item-img">
					<div class="mini-item row-block">
						<a href="{{ post.url }}">
							<div class="mini-item-img">
								<img src='/uploads/{{ post.date|date:"%Y" }}/{{ post.date|date:"%m" }}/{{ post.thumb }}'>	
							</div>
							<div class="mini-item-title">
								<h3>{% if post.header %}{{ post.header | escape }}{% else %}{{ post.title | escape }}{% endif %}</h3>
							</div>
						</a>	
					</div>
				</div>
			{% endfor %}
			
		</div><!-- row -->
	</div><!-- topmargin -->
    </div><!-- row -->
	
    <div class="row">
        <div class="col-xl-9 col-lg-9 topmargin"><!-- list -->
		<div>
			<h2><strong>ПОЛЕЗНЫЕ</strong> СТАТЬИ</h2>
		</div>	
		
		{% for post in site.categories.articles limit:3 %} 
			<div class="row list-item">
				<div class="col-xl-4 col-lg-4 col-md-5">
					<div class="list-item-img">
						<a href="{{ post.url }}">
							<img src='/uploads/{{ post.date|date:"%Y" }}/{{ post.date|date:"%m" }}/{{ post.thumb }}'>
						</a>
					</div>
				</div>
				<div class="col-xl-8 col-lg-8 col-md-7">
					<a href="{{ post.url }}">
						<h3>{% if post.header %}{{ post.header | escape }}{% else %}{{ post.title | escape }}{% endif %}</h3>
					</a>
					<p>
						<time datetime='{{ post.date|date:"%d.%m.%Y" }}' class="item-published"><i class="fa fa-calendar" aria-hidden="true"></i> {{ post.date|date:"%d.%m.%Y" }}</time>
					</p>	
					<p>{{ post.content | strip_html | truncatewords: 55 }}</p>
				</div>
			</div>
		{% endfor %}
		
	</div><!-- topmargin -->
	    
	<div class="col-xl-3 col-lg-3 topmargin sidebar"><!-- sidebar -->
		{%- include sidebar.html -%}
	</div><!-- topmargin -->
    </div><!-- row -->

</div><!-- container -->	
