<footer>
	<div class="container-xl">
		<div class="row columns">
			<div class="col-md-4 col-lg-5 col-sm-6 col-12">
				<h4>О сайте:</h4>
				<p>На портале <a href="/">ProTanks.ru</a> вы найдете свежие новости об игре Мир танков (World of Tanks), полезные и интересные статьи, инструкции и гайды для новичков, а также обзоры танков и многое другое. Добавляйте сайт в закладки! Будет интересно!</p>
			</div>
			<div class="col-md-4 col-lg-3 offset-lg-1 col-sm-6 col-12">
				<h4>Разделы сайта:</h4>
				<ul class="f-menu">
					<li><a href="/news">Новости</a></li>
					<li><a href="/articles">Статьи</a></li>
					<li><a href="/guides">Гайды</a></li>
					<li><a href="/mods">Моды</a></li>
					<li><a href="/shop" style="color: red;">Магазин</a></li>
				</ul>
			</div>
			<div class="col-md-4 col-lg-3 col-sm-12 col-12">
				<!-- Yandex.RTB R-A-1959236-3 -->
				<div id="yandex_rtb_R-A-1959236-3"></div>
				<script>window.yaContextCb.push(()=>{
				  Ya.Context.AdvManager.render({
					renderTo: 'yandex_rtb_R-A-1959236-3',
					blockId: 'R-A-1959236-3'
				  })
				})</script>
			</div>
		</div>
		<div class="row copyright">
			<div class="col-12">
				@ {{ 'now' | date: "%Y" }} protanks.ru
			</div>
		</div>
    </div>
</footer>

<!-- Yandex.RTB R-A-1959236-8 -->
<script>window.yaContextCb.push(()=>{
	Ya.Context.AdvManager.render({
		"blockId": "R-A-1959236-8",
		"type": "fullscreen",
		"platform": "touch"
	})
})
</script>

<!-- Yandex.RTB R-A-1959236-9 -->
<script>window.yaContextCb.push(()=>{
	Ya.Context.AdvManager.render({
		"blockId": "R-A-1959236-9",
		"type": "floorAd"
	})
})
</script>

<!-- Yandex.RTB R-A-1959236-10 -->
<script>
window.yaContextCb.push(()=>{
	Ya.Context.AdvManager.render({
		"blockId": "R-A-1959236-10",
		"type": "fullscreen",
		"platform": "desktop"
	})
})
</script>

<!-- Top.Mail.Ru counter -->
<script type="text/javascript">
var _tmr = window._tmr || (window._tmr = []);
_tmr.push({id: "3405671", type: "pageView", start: (new Date()).getTime()});
(function (d, w, id) {
  if (d.getElementById(id)) return;
  var ts = d.createElement("script"); ts.type = "text/javascript"; ts.async = true; ts.id = id;
  ts.src = "https://top-fwz1.mail.ru/js/code.js";
  var f = function () {var s = d.getElementsByTagName("script")[0]; s.parentNode.insertBefore(ts, s);};
  if (w.opera == "[object Opera]") { d.addEventListener("DOMContentLoaded", f, false); } else { f(); }
})(document, window, "tmr-code");
</script>
<noscript><div><img src="https://top-fwz1.mail.ru/counter?id=3405671;js=na" style="position:absolute;left:-9999px;" alt="Top.Mail.Ru" /></div></noscript>
<!-- /Top.Mail.Ru counter -->