<footer>
	<div class="container-xl">
		<div class="row columns">
			<div class="col-md-4 col-lg-5 col-sm-6 col-12">
				<h4>О сайте:</h4>
				<p>
					На сайте <a href="/">PlayTanks.ru</a> вас ждут актуальные новости об игре "Мир Танков", глубокие аналитические статьи, подробные инструкции и полезные гайды.
				</p>
				
			</div>
			<div class="col-md-4 col-lg-3 offset-lg-1 col-sm-6 col-12">
				<h4>Разделы:</h4>
				<ul class="f-menu">
					<li><a href="/news">Новости</a></li>
					<li><a href="/articles">Статьи</a></li>
					<li><a href="/guides">Гайды</a></li>
					<li style="display: NONE;"><a href="/mods">Моды</a></li>
				</ul>
			</div>
			<div class="col-md-4 col-lg-3 col-sm-12 col-12">
				<!-- Yandex.RTB -->
			</div>
		</div>
		<div class="row copyright">
			<div class="col-12">
				@ {{ 'now' | date: "%Y" }} playtanks.ru
			</div>
		</div>
    </div>
       
	<!-- Yandex.Metrika counter -->
	<script type="text/javascript" >
	   (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
	   m[i].l=1*new Date();
	   for (var j = 0; j < document.scripts.length; j++) {if (document.scripts[j].src === r) { return; }}
	   k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
	   (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");
	
	   ym(100612821, "init", {
	        clickmap:true,
	        trackLinks:true,
	        accurateTrackBounce:true,
	        webvisor:true
	   });
	</script>
	<noscript><div><img src="https://mc.yandex.ru/watch/100612821" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
	<!-- /Yandex.Metrika counter -->		
</footer>
