<footer>
	<div class="container">
		<div class="row columns">
			<div class="col-sm-4">
				<h4>О сайте:</h4>
				<p>На портале <a href="/">WorldOfTanks.Tk</a> вы найдете свежие новости об игре World of Tanks, полезные и интересные статьи, инструкции и гайды для новичков, а также обзоры танков и многое другое. Добавляйте сайт в закладки! Будет интересно!</p>
			</div>
			<div class="col-sm-1"></div>
			<div class="col-sm-3">
				<h4>Разделы сайта:</h4>
				<ul class="f-menu">
					<li><a href="#">Новости</a></li>
					<li><a href="#">Статьи</a></li>
					<li><a href="#">Гайды</a></li>
				</ul>
			</div>
			<div class="col-sm-4">
				рекламный баннер
			</div>
		</div>
		<div class="row copyright">
			<div class="col-sm-12">
				@ 2021 WorldofTanks.Tk - портал игры WoT
			</div>
		</div>
    </div>
</footer>
