<header>
	<div class="container-xl">
		<div class="row">
			<div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
				<div class="site-branding">
	    	<a href="/" class="logo-link" rel="home">
			<img width="90" height="90" src="/uploads/mir-tankov.jpg" class="site-logo" alt="Сайт об игре Мир танков" >
		</a>
		<div class="text-logo">
			<a class="site-title" href="/" rel="home">PlayTanks.ru</a>
			<p class="site-description" itemprop="description">Ты в танке — ты в центре событий!</p>
	    	</div>  
                </div>
			</div>
			<div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
				<ul class="h-menu">
					<li><a href="/news">Новости</a></li>
					<li><a href="/promokody" style="color: red;">Промокоды</a></li>
					<li><a href="/articles">Статьи</a></li>
					<li><a href="/guides">Гайды</a></li>
					<li style="display: NONE;" class="hide-mob"><a href="/mods">Моды</a></li>
				</ul>
			</div>
		</div>
	</div>		
</header>
