<header>
	<div class="container">
		<div class="row">
			<div class="col-sm-5">
				<div class="site-branding">
                    <a href="/" class="logo-link" rel="home">
						<img width="90" height="90" src="/uploads/wot.png" class="site-logo" alt="World of Tanks" >
					</a>
					<div class="text-logo">
						<h1 class="site-title"><a href="/" rel="home">World of Tanks.tk</a></h1>
						<p class="site-description" itemprop="description">Информационный портал World of Tanks</p>
                    </div>  
                </div>
			</div>
			<div class="col-sm-7">
				<ul class="h-menu">
					<li><a href="/news">Новости</a></li>
					<li><a href="/news">Статьи</a></li>
					<li><a href="/news">Гайды</a></li>
					<li><a href="#">Контакты</a></li>
				</ul>
			</div>
		</div>
	</div>		
</header>
