<header>
	<div class="container-xl">
		<div class="row">
			<div class="col-xl-7 col-lg-7 col-md-6 col-sm-6 col-12">
				<div class="site-branding">
	    	<a href="/" class="logo-link" rel="home">
			<img width="90" height="90" src="/uploads/wot.png" class="site-logo" alt="World of Tanks" >
		</a>
		<div class="text-logo">
			<a class="site-title" href="/" rel="home">World of Tanks.tk</a>
			<p class="site-description" itemprop="description">Информационный портал World of Tanks</p>
	    	</div>  
                </div>
			</div>
			<div class="col-xl-5 col-lg-5 col-md-6 col-sm-6 col-12">
				<ul class="h-menu">
					<li><a href="/news">Новости</a></li>
					<li><a href="/articles">Статьи</a></li>
					<li><a href="/guides">Гайды</a></li>
					<li><a href="/mods">Моды</a></li>
					<li style="display: NONE;"><a href="/system-requirements">Системные требования</a></li>
					<li style="display: NONE;"><a href="#">Контакты</a></li>
				</ul>
			</div>
		</div>
	</div>		
</header>
