<div style="margin-bottom: 30px;">
	<a href="/shop" target="_blank"><img class="shop-img" src="/uploads/wot-banner.jpg"></a>
</div>
<div>
    <h4><strong>НОВОЕ</strong> НА САЙТЕ</h4>
</div>
<div class="row">
	
	{% assign c = site.categories.news %}
	<div class="col-12">
		<div class="mini-item row-block">
			<a href="{{ c[0].url }}">
				<div class="mini-item-img">
					<img src='{{ c[0].image }}'>	
				</div>
			</a>	
		</div>	
		<a href="{{ c[0].url }}">
			<h2>{% if c[0].header %}{{ c[0].header | escape }}{% else %}{{ c[0].title | escape }}{% endif %}</h2>
		</a>
	</div>
	
	{% assign g = site.categories.guides %}
	<div class="col-12">
		<div class="mini-item row-block">
			<a href="{{ g[0].url }}">
				<div class="mini-item-img">
					<img src='{{ g[0].image }}'>	
				</div>
			</a>	
		</div>	
		<a href="{{ g[0].url }}">
			<h2>{% if g[0].header %}{{ g[0].header | escape }}{% else %}{{ g[0].title | escape }}{% endif %}</h2>
		</a>
	</div>
	
	{% assign a = site.categories.articles %}
	<div class="col-12">
		<div class="mini-item row-block">
			<a href="{{ a[0].url }}">
				<div class="mini-item-img">
					<img src='{{ a[0].image }}'>	
				</div>
			</a>	
		</div>	
		<a href="{{ a[0].url }}">
			<h2>{% if a[0].header %}{{ a[0].header | escape }}{% else %}{{ a[0].title | escape }}{% endif %}</h2>
		</a>
	</div>
	
</div>