<div style="margin-bottom: 30px;">
	<noindex><a href="https://mmo-help.ru/game/world-of-tanks" rel="nofollow" target="_blank"><img class="shop-img" src="/uploads/WOTMAIN.jpg"></a></noindex>
</div>
<div style="margin-bottom: 30px;">
	<a href="/shop" target="_blank"><img class="shop-img" src="/uploads/wot-banner.jpg"></a>
</div>
<div>
    <h4><strong>ЧИТАЙТЕ</strong> ТАКЖЕ</h4>
</div>
<div class="row">
	{% for post in site.categories.mods limit:3 %} 
    <div class="col-12">
		<div class="mini-item row-block">
			<a href="{{ post.url }}">
				<div class="mini-item-img">
					<img src='{{ post.image }}'>	
				</div>
			</a>	
		</div>	
		<a href="{{ post.url }}">
			<h2>{% if post.header %}{{ post.header | escape }}{% else %}{{ post.title | escape }}{% endif %}</h2>
		</a>
	</div>
	{% endfor %}
</div>