@media (min-width: 1200px) {
	.container {
		width: 1200px;
	}
}

a {
    color: #b78233;
    text-decoration: none;
}
a:focus, a:hover {
    color: #956a2a;
    text-decoration: underline;
}

.list-item a:focus, .list-item a:hover {
    color: #956a2a;
    text-decoration: none;
}

.big-item-title a, .mini-item-title a {
    color: #fff;
    text-decoration: none;
}
.big-item-title a:focus, .big-item-title a:hover, .mini-item-title a:focus, .mini-item-title a:hover {
    color: #fff;
    text-decoration: underline;
}
.site-title a:hover, .site-title a:focus {
    text-decoration: none;
    color: #b78233;	
}	
.site-branding {
    float: left;
}
.site-branding .logo-link {
    display: inline-block;
    margin-right: 5px;
    vertical-align: middle;
}
.site-branding .text-logo {
    display: inline-block;
    vertical-align: middle;
}
.text-logo h1 {
	margin-bottom: 0;
}	
.text-logo h1 a {
	color: #000;
}
.site-description {
    margin-bottom: 30px;
}

ul.h-menu li {
    display: inline-block;
    float: left;
    font-size: 19px;
    padding: 40px 15px;	
}	

.top-posts {
    background: #1c1c1c url(/uploads/bg.jpg);
    background-size: contain;
    padding: 15px 0;
}
footer {
    background: #1c1c1c url(/uploads/bg.jpg);
    background-size: auto;
    padding: 15px 0;
    color: #fff;
}
.columns {
    padding: 10px 0;
}
ul.f-menu {
    padding-left: 15px;
}
.copyright {
    padding: 10px 0;
    text-align: center;
    border-top: 1px solid;
}
.big-item, .mini-item {
    position: relative;
}
.mini-one {
	margin-bottom: 30px;
}
.topmargin {
	margin-top: 20px;
}
.mini-item-img:before {
	background: linear-gradient(360deg, #1c1c1c 0%,rgba(255, 255, 255, 0) 65%);
	content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
}
.mini-item-img img {
	width: 270px;
    height: 215px;
	object-fit: cover;
}
.list-item {
    margin-bottom: 30px;
}
.list-item-img img {
	width: 195px;
    height: 195px;
	object-fit: cover;
}
.big-item-title {
    color: #ffffff;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 10px 35px 30px;
    z-index: 2;
}
.big-item-title h3 {
	font-family: poppins,sans-serif;
    font-weight: 600;
    font-size: 30px;
    width: 80%;
}
.big-item-title time {
	font-size: 14px;
    font-style: italic;
}
.big-item-title .fa-calendar:before {
	margin-right: 2px;
}
.big-item-img img {
	width: 870px;
    height: 460px;
}
.big-item-img:before {
	background: linear-gradient(360deg, #1c1c1c 0%,rgba(255, 255, 255, 0) 65%);
	content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
}
.mini-item-title {
	color: #ffffff;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 20px 20px 7px;
    z-index: 2;
}
.mini-item-title h3 {
	font-family: poppins,sans-serif;
    font-size: 18px;
    line-height: 1.333;
    letter-spacing: -.6px;
}

@media (max-width: 1024px) {
	.big-item-img img {
		width: 700px;
		height: 460px;
		object-fit: cover;
	}
	.mini-item-img img {
		width: 212px;
	}
}
@media (max-width: 768px) {

	.big-item-img img {
		width: 532px;
		height: 340px;
	}
	.mini-item-img img {
		height: 155px;
		width: 158px;
	}
	.item-img .mini-item-img img {
		width: 157px;
	}
}
