<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "ru" }}">

  {%- include head.html -%}

  <body>

    {%- include header.html -%}

    <main aria-label="Content">

        {{ content }}

    </main>

    {%- include footer.html -%}
	
	

	
	<div class="bott-right">
		<span onclick="return hideBlock();">x</span>
		<div class="content">
			<!--  -->
		</div>
	</div>
	
	<style>
		.bott-right {
			position: fixed;
			z-index: 100;
			right: 0;
			bottom: 14px;
			display: none;
			width: 250px;
			height: auto;
		}
		.bott-right span {
			display: none;
			background: #fff;
			width: 14px;
			height: 14px;
			border: 1px solid #999;
			color: #555;
			text-align: center;
			line-height: 10px;
			font-weight: bold;
			font-family: monospace;
			cursor: pointer;
		}
	</style>
	<script type="text/javascript">
		
		
		if (/Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent)) 
		{
			// mobile
		} 
		else 
		{
			// desktop
			/*setTimeout(() => {
				document.querySelector('.bott-right').style.display = 'block';
			}, 14000);
			setTimeout(() => {
				document.querySelector('.bott-right span').style.display = 'block';
			}, 17000);*/
		}
		
		function hideBlock() {
			document.querySelector('.bott-right').style.display = 'none';
		}
	</script>
	
  </body>

</html>
