<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "ru" }}">

  {%- include head.html -%}

  <body>

    {%- include header.html -%}

    <main aria-label="Content">

        {{ content }}

    </main>

    {%- include footer.html -%}
	
	
	<!-- Yandex.Metrika counter -->
	<script type="text/javascript" >
	   (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
	   m[i].l=1*new Date();k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
	   (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

	   ym(86587352, "init", {
			clickmap:true,
			trackLinks:true,
			accurateTrackBounce:true,
			webvisor:true
	   });
	</script>
	<noscript><div><img src="https://mc.yandex.ru/watch/86587352" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
	<!-- /Yandex.Metrika counter -->
	
	<div class="bott-right">
		<span onclick="return hideBlock();">x</span>
		<div class="content">
			<!-- Yandex.RTB R-A-1959236-4 -->
			<div id="yandex_rtb_R-A-1959236-4"></div>
			<script>window.yaContextCb.push(()=>{
			  Ya.Context.AdvManager.render({
				renderTo: 'yandex_rtb_R-A-1959236-4',
				blockId: 'R-A-1959236-4'
			  })
			})</script>
		</div>
	</div>
	
	<style>
		.bott-right {
			position: fixed;
			z-index: 100;
			right: 0;
			bottom: 0;
			display: none;
			width: 250px;
			height: 400px;
		}
		.bott-right span {
			display: none;
			background: #fff;
			width: 14px;
			height: 14px;
			border: 1px solid #999;
			color: #555;
			text-align: center;
			line-height: 10px;
			font-weight: bold;
			font-family: monospace;
			cursor: pointer;
		}
	</style>
	<script type="text/javascript">
		setTimeout(() => {
			document.querySelector('.bott-right').style.display = 'block';
		}, 4000);
		setTimeout(() => {
			document.querySelector('.bott-right span').style.display = 'block';
		}, 9000);
		
		
		function hideBlock() {
			document.querySelector('.bott-right').style.display = 'none';
		}
	</script>
	
  </body>

</html>
