<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "ru" }}">

  {%- include head.html -%}

  <body>

    {%- include header.html -%}

    <main aria-label="Content">

        {{ content }}

    </main>

    {%- include footer.html -%}
	
	
	<!-- Yandex.Metrika counter -->
	<script type="text/javascript" >
	   (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
	   m[i].l=1*new Date();k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
	   (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

	   ym(86587352, "init", {
			clickmap:true,
			trackLinks:true,
			accurateTrackBounce:true,
			webvisor:true
	   });
	</script>
	<noscript><div><img src="https://mc.yandex.ru/watch/86587352" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
	<!-- /Yandex.Metrika counter -->
	
	<div class="bott-right">
		<span>x</span>
		<div class="content">11111</div>
	</div>
	
	<style>
		.bott-right {
			position: absolute;
			right: 0;
			bottom: 0;
			display: none;
			width: 250px;
			height: 400px;
			border: 1px solid #ccc;
		}
		.bott-right span {
			display: none;
			background: #fff;
			width: 20px;
			height: 20px;
		}
	</style>
	<script type="text/javascript">
		setTimeout(() => {
			document.querySelector('.bott-right').style.display = 'block';
		}, 3000);
		setTimeout(() => {
			document.querySelector('.bott-right span').style.display = 'block';
		}, 7000);
	</script>
	
  </body>

</html>
