---
layout: default
---

<div class="container-xl post-page">
    <div class="row">
        <div class="col-xl-9 col-lg-9 topmargin">
          <article>

                <p><img class="post-img" src='/uploads/{{ page.date|date:"%Y" }}/{{ page.date|date:"%m" }}/{{ page.thumb }}' alt='{{ page.title | escape }}'></p>
                <h1 class="post-title p-name" itemprop="name">{% if page.header %}{{ page.header | escape }}{% else %}{{ page.title | escape }}{% endif %}</h1>

                {{ content }}

          </article>
        </div>
        
        <div class="col-xl-3 col-lg-3 topmargin sidebar">
            {%- include sidebar.html -%}
        </div>
      
    </div><!-- row -->  
</div><!-- container -->
