---
layout: default
---

<div class="container post-page">
    <div class="row">
        <div class="col-sm-9 topmargin">
          <article>

                <p><img class="post-img" src='/uploads/{{ page.date|date:"%Y" }}/{{ page.date|date:"%m" }}/{{ page.thumb }}' alt='{{ page.title | escape }}'></p>
                <h1 class="post-title p-name" itemprop="name headline">{{ page.title | escape }}</h1>

                {{ content }}

          </article>
        </div>
        
        <div class="col-sm-3 topmargin">
            {%- include sidebar.html -%}
        </div>
      
    </div><!-- row -->  
</div><!-- container -->
